

.section-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 1px;
  text-align: center;
  letter-spacing: 1px;
}
.carousel-img {
  height: 75vh;
  object-fit: cover;
}

.carousel-caption {
  bottom: 25%;
}

.carousel-caption h1 {
  font-size: 3rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}

