.product-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.back-home {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.product-content {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  flex-wrap: wrap; /* responsive for mobile */
}

.product-image img {
  width: 500px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.product-info {
  max-width: 500px;
}

.product-info h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-description {
  margin-bottom: 25px;
  line-height: 1.6;
}

.add-to-cart-btn {
  padding: 12px 20px;
  background-color: #6b4f3f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-btn:hover {
  background-color:#6b4f3f
}
@media (max-width: 768px) {
  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .product-info {
    max-width: 100%;
  }
}
.size-section {
  margin: 15px 0;
}

.size-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.size-options button {
  border: 1px solid #6b4f3f;
  padding: 6px 14px;
  background: transparent;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.size-options button.active {
  background: #6b4f3f;
  color: white;
}

.action-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  color: transparent;
}
.section-link {
  text-decoration: none ;
  color: inherit;
  
}

.section-title {
  text-decoration: none;
}

.section-link:hover .section-title {
  text-decoration: underline; /* hover pe chaho to */
}

