.footer {
  background: #4a3f35;
  color: #fff;
  padding: 50px 0 20px;
  margin-top: 80px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

/* .footer-col h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 12px;
} */
/* 
.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-col ul {
  list-style: none;
  padding: 0;
} */
/* 
.footer-col ul li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #fff;
  padding-left: 5px;
} */

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #333;
  font-size: 13px;
  color: #aaa;
}
/* =========================
   TOP LEFT LINKS
========================= */
.left-link {
  list-style: none;
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.left-link li a {
  text-decoration: none;
  font-size: 13px;
  color: white;
  font-weight: 500;
  transition: 0.25s ease;
  position: relative;
}





.left-link li a:hover {
  opacity: 0.8;
}

/* =========================
   RESPONSIVE
========================= */

/* Tablet */
@media (max-width: 992px) {
  .left-link {
    gap: 14px;
  }

  .left-link li a {
    font-size: 12px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .left-link {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .left-link li a {
    font-size: 12px;
  }
}
