.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

/* ---------- PRODUCT CARD ---------- */
.product-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  display: flex;
    flex-direction: column;
 padding: 16px;
  margin: 10px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

/* Image zoom animation */
.product-card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.product-card:hover img {
  transform: scale(1.08);
}

/* ---------- CARD CONTENT ---------- */
.product-info {
  padding: 15px;
  text-align: center;
}

.product-card h4 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 8px 0 4px;
  color: #333;
}


.product-info p {
  font-size: 0.9rem;
  color: #666;
}

.product-info span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  color: #000;
}


/* PRICE */
.price {
  font-weight: 600;
  color: #4a3f35;
  margin: 5px 0;
  text-align: center;
}

/* ⭐ STAR RATING */
.rating {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.star {
  font-size: 22px;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s;
}

.star:hover {
  transform: scale(1.2);
}

.star.filled {
  color: #f4b400; /* Yellow star */
}

/* BUTTONS */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-btn {
  flex: 1;
  padding: 8px;
  background: #4a3f35;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart-btn:hover {
  background: #3a2f28;
}

.wishlist-btn {
  width: 45px;
  margin-left: 8px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.wishlist-btn.active {
  color: red;
}
.image-wrapper {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.quick-view-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(123, 79, 58, 0.95);
  color: #fff;
  padding: 9px 18px;
  border-radius: 22px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* ONLY IMAGE HOVER
.image-wrapper:hover*/ .quick-view-btn { 
  opacity: 1;
  pointer-events: auto;
  bottom: 24px;
  text-decoration: none;
}
